.portfolio {
  display: flex;
  justify-content: center;

  max-width: 100rem;
  min-height: 10rem;

  margin: 0 auto;
  padding: 0;

  background-color: @lightgray;
}

.portfolio__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 100%;

  margin: 0;
  padding: 0;
}

.portfolio__item {
  display: flex;
  flex-direction: column;

  max-width: 45rem;
  min-width: 30rem;
  min-height: 30rem;

  margin: 0 auto;
  margin-bottom: 3rem;
  padding: 0;

  background-color: @exlight;
}

.portfolio__image {
  width: 100%;
  height: auto;

  margin: 0;
  padding: 0;
}

.portfolio__info {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.portfolio__info-h3 {
  width: 100%;

  margin: 0 auto;
  margin-bottom: 1rem;
  padding: 0;

  font-family: inherit;
  font-size: 1.6em;
  font-weight: bold;
  color: @gray;
  text-align: center;
}