.sandbox {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  max-width: 100rem;
  min-height: 10rem;

  margin: 0 auto;
  padding: 0;

  background-color: @white;
}
.sandbox__wrapper {
  width: 100%;
  min-height: 40rem;

  margin: 0 auto;
  padding: 0;
  padding-top: 2rem;
  padding-bottom: 3rem;

  box-sizing: border-box;

  border-top: 1px dashed @lightgray;
}

.sandbox__part {
  width: 100%;

  margin: 0;
  margin-bottom: 7rem;
  padding: 0;
  padding-bottom: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  box-sizing: border-box;

  border-bottom: 1px solid @lightgray;
}

.sandbox__h2 {
  margin: 0;
  margin-bottom: 4rem;
  padding: 0;
  padding-left: 0.5rem;
  box-sizing: border-box;

  font-family: inherit;
  font-size: 3em;
  font-weight: bold;
  color: @vue;
}

.sandbox__h3 {
  margin: 0;
  margin-bottom: 3rem;
  padding: 0;
  padding-left: 0.5rem;
  box-sizing: border-box;

  font-family: inherit;
  font-size: 2em;
  font-weight: bold;
  color: @gray;
}

.sandbox__h4 {
  width: 100%;

  margin: 0;
  margin-bottom: 1rem;
  padding: 0;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  box-sizing: border-box;

  font-family: inherit;
  font-size: 1.6rem;
  font-weight: bold;
  color: @base;
}

.sandbox__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  max-width: 100%;

  margin: 0;
  padding: 0;

}

.sandbox__item {
  display: flex;
  justify-content: center;
  align-items: center;

  width: auto;
  min-height: 4rem;

  margin: 0;
  margin-bottom: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;

  background-color: @exlight;
}

.sandbox__item--column {
  flex-direction: column;
  align-items: flex-start;

  padding-top: 1rem;
  padding-bottom: 1rem;

}

.sandbox__item-txt {
  display: flex;
  justify-content: center;
  align-items: center;

  width: auto;

  margin: 0;
  padding: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;

  text-align: center;
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: bold;
  color: @dark;
}

.sandbox__item-txt--mb {
  margin-bottom: 1rem;
}

/** form **/
.sandbox__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 100%;

  margin: 0;
  margin-top: 2rem;
  padding: 0;

  box-sizing: border-box;
}

.sandbox__input {
  width: 30%;
  height: 4rem;

  margin: 0;
  margin-bottom: 1rem;
  padding: 0;
  padding-left: 2rem;
  padding-right: 2rem;

  font-family: inherit;
  font-size: 1.6rem;
  color: @dark;

  border: 1px solid @gray;
  border-radius: 0.3rem;
  background-color: @exlight;
}
.sandbox__input::placeholder {
  color: @base;
}

.sandbox__form-txt {
  width: 100%;

  margin: 0;
  margin-bottom: 1rem;
  padding: 0;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  box-sizing: border-box;

  font-family: inherit;
  font-size: 1.4rem;
  color: @dark;
}

.sandbox__form-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 4rem;

  margin: 0;
  margin-bottom: 3rem;
  padding: 0;
  padding-left: 2rem;
  padding-right: 2rem;

  font-family: inherit;
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
  color: @white;
  border-radius: 0.4rem;
  background-color: @base;
  border: none;

  cursor: pointer;
  user-select: none;
}

.sandbox__form-btn:hover {
  background-color: @dark;
}

// Условия

.sandbox__if {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0;
  padding: 0;
}

.sandbox__if-header {
  width: 100%;

  margin: 0;
  margin-bottom: 2rem;
  padding: 0;
  padding-bottom: 1rem;
  box-sizing: border-box;

  font-family: inherit;
  font-size: 1.4rem;
  font-weight: bold;
  color: @dark;
}

//pre
.pre {
  display: block;
  overflow-x: auto;
  overflow-y: hidden;
  margin: 0;
  padding: 0;
  word-break: break-all;
  clear: both;
  white-space: pre;
}

.pre-code {
  display: block;
  padding: 16px 32px;

  font-size: 2rem;
  border: 1px solid #eee;
  border-radius: 4px;
  background: #fbfdff;
  box-sizing: border-box;
  tab-size: 4;
  white-space: pre;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  text-overflow: initial;
  overflow-x: auto;
  overflow-y: hidden;
  overflow-y: hidden;
}

/*-- TESTAPP Vue --*/
.testapp {
  width: 100%;

  margin: 0;
  margin-top: 4rem;
  padding: 0;
  padding-top: 3rem;

  border-top: 1px dashed @lightgray;
}

.note-card {
  display: flex;
  flex-wrap: wrap;

  width: 30rem;

  margin: 0;
  margin-bottom: 2rem;
  padding: 2rem;

  background-color: @exlightgray;
  border-radius: 0.5rem;
}

.note-header {
  width: 100%;

  margin: 0;
  margin-bottom: 1rem;
  padding: 0;

  font-size: 2rem;
  font-weight: bold;
}

.note-body {
  width: 100%;

  margin: 0;
  margin-bottom: 1rem;
  padding: 0;

  font-size: 1.4rem;
}