<!DOCTYPE html>
<html lang="ru" class="page">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MI</title>

    <link rel="stylesheet" href="../css/style.min.css?v=4">

    <script src="../js/vue.js"></script>

</head>
<body class="page__pages-body">

<header class="header-pages">

    <div class="header__page-wrapper">
        <a href="../index.html">
            <img src="../img/my-logo.svg" alt="logo" class="header__main-logo">
        </a>
        <div class="header__left-line"></div>

        <h1 class="header__page-h1">Песочница</h1>
    </div>

    <nav class="page-nav">
        <ul class="page-nav__list">
            <li class="page-nav__item"><a href="/portfolio" class="page-nav__link">Портфолио</a></li>
            <li class="page-nav__item"><a href="/tools" class="page-nav__link">Инструменты</a></li>
            <li class="page-nav__item"><a href="/contacts" class="page-nav__link">Контакты</a></li>
        </ul>
    </nav>

</header>

<main>

    <section class="sandbox" style="overflow: hidden">
        <h1 class="v-hidden">Инструменты</h1>

        <article class="sandbox__part" style="overflow: hidden">
            <h2 class="sandbox__h2">Vue</h2>

            <h3 class="sandbox__h3">Тестирование компонентов</h3>


            <!-- vue app -->
            <div class="vue-app">
                <ul class="sandbox__list">
                    <li class="sandbox__item vue__item">
                        <p class="sandbox__item-txt">{{ name }}</p>
                    </li>
                </ul>

                <div action="" class="sandbox__form">
                    <h4 class="sandbox__h4">{{ title }}</h4>
                    <input type="text" class="sandbox__input" v-model="text" :placeholder="textplace">
                    <button class="sandbox__form-btn" @click="getLowerText">введи текст и нажми</button>
                    <p class="sandbox__form-txt"> {{ toLower }}</p>
                </div>

                <!--       проверка работы условий         -->
                <div class="sandbox__wrapper">
                    <button class="sandbox__form-btn" @click="getContent">Включатель</button>
                    <div class="sandbox__if" v-if="showContent">

                        <h4 class="sandbox__if-header">Проверка условий</h4>
                        <h4 class="sandbox__if-header">Users:</h4>
                        <ul class="sandbox__list">
                            <li class="sandbox__item sandbox__item--column" v-for="(user, index) in users"
                                :key="user.id">
                                <p class="sandbox__item-txt sandbox__item-txt--mb">{{ user.name }}</p>
                                <p class="sandbox__item-txt sandbox__item-txt--mb">{{ user.email }}</p>
                                <p class="sandbox__item-txt sandbox__item-txt--mb">{{ user.age }}</p>
                            </li>
                        </ul>



                    </div>

                </div>
                <!--       проверка работы условий     END     -->

            </div>
            <!-- vue app END -->


            <!-- vue 2 app -->
            <div class="testapp">

                <h4 class="sandbox__h4">{{ title }}</h4>

                <!-- new note -->
                <div class="new-note">
                    <input v-model="note.title" type="text" class="new-note__input">
                    <textarea v-model="note.descr" class="new-note__textarea"></textarea>
                    <button @click="addNote" class="new-note__btn">New note</button>
                </div>

                <!--  note list-->
                <div class="notes">
                    <div class="note" v-for="(note, index) in notes" :key="index">
                        <div class="note-card">
                            <p class="note-header">{{ note.title }}</p>
                            <p class="note-body">{{ note.descr }}</p>
                            <span class="note-datу">{{ note.date }}</span>
                        </div>
                    </div>
                </div>


            </div>


<!--            <img src="https://via.placeholder.com/200x50" />-->


<!--
            <pre class="pre" style="overflow: hidden">
                <code class="pre-code">
                    <span class="hljs-tag">&lt;<span class="hljs-name">section</span>
                    <span class="hljs-attr">class</span>=<span class="hljs-string">"newsletter"</span>
                    <span class="hljs-attr">style</span>=<span class="hljs-string">"background-image: url('/assets/ui/decoraitve/newsletter-lg-aj1891101.svg')"</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">section</span>&gt;</span>
                </code>
            </pre>
   -->

            <a class="popup-open" href="#">Открыть popup</a>

            <div class="popup-fade">
                <div class="popup">
                    <a class="popup-close" href="#">Закрыть</a>
                    <p>Всплывающие окна имеют широкий диапазон применений...</p>
                </div>
            </div>

            <style>
                .popup-fade {
                    display: none;
                }
                .popup-fade:before {
                    content: '';
                    background: #000;
                    position: fixed;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0.7;
                    z-index: 9999;
                }
                .popup {
                    position: fixed;
                    top: 20%;
                    left: 50%;
                    padding: 20px;
                    width: 360px;
                    margin-left: -200px;
                    background: #fff;
                    border: 1px solid orange;
                    border-radius: 4px;
                    z-index: 99999;
                    opacity: 1;
                }
                .popup-close {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                }
            </style>

            <script src="https://yandex.st/jquery/2.1.1/jquery.min.js"></script>
            <script>
                $(document).ready(function($) {
                    $('.popup-open').click(function() {
                        $('.popup-fade').fadeIn();
                        return false;
                    });

                    $('.popup-close').click(function() {
                        $(this).parents('.popup-fade').fadeOut();
                        return false;
                    });

                    $(document).keydown(function(e) {
                        if (e.keyCode === 27) {
                            e.stopPropagation();
                            $('.popup-fade').fadeOut();
                        }
                    });

                    $('.popup-fade').click(function(e) {
                        if ($(e.target).closest('.popup').length == 0) {
                            $(this).fadeOut();
                        }
                    });
                });
            </script>



            <div class="dms_popup__wrapper">
                <div class="dms_popup">
                    <a class="dms_popup__close" href="#">
                        <svg class="dms_popup__close-icon" fill="none" viewBox="0 0 40 40"
                             xmlns="http://www.w3.org/2000/svg">
                        <path d="M27 14.41L25.59 13L20 18.59L14.41 13L13 14.41L18.59 20L13 25.59L14.41 27L20 21.41L25.59 27L27 25.59L21.41 20L27 14.41Z" fill="#5E5E5E"/>
                    </svg>
                    </a>
                    <h3 class="dms_popup__header">Выбор услуги</h3>
                    <div class="dms_popup__item">
                        <span class="dms_popup__item-txt"><b>1 день</b> Интернета за <b>50 бонусов</b></span>
                        <button class="dms_popup__item-btn">Подключить</button>
                    </div>
                    <div class="dms_popup__item">
                        <span class="dms_popup__item-txt"><b>3 дня</b> Интернета за <b>120 бонусов</b> </span>
                        <button class="dms_popup__item-btn">Подключить</button>
                    </div>

                    <div class="dms_popup__item">
                        <span class="dms_popup__item-txt"><b>10 дней</b> Интернета за <b>300 бонусов</b></span>
                        <button class="dms_popup__item-btn dms_popup__item-btn--disabled">Подключить</button>
                        <span class="dms_popup__item-error">Недостаточно средств на балансе</span>
                    </div>
                </div>
            </div>

        </article>

    </section>

</main>

<script>
  let sample = new Vue({
    el: '.vue-app',
    data: {
      title: 'Элементы формы',
      header: 'v-if',
      showContent: true,
      name: 'Элемент списка',
      text: ' ',
      textplace: 'Введите текст',
      // user: {
      //   name: 'Костя',
      //   email: 'info@mail.ru'
      // },
      users: [
        {id: '001', name: 'Kostya', email: 'kostya@mail.ru', age: '38'},
        {id: '002', name: 'Andrey', email: 'andrey@mail.ru', age: '33'},
        {id: '003', name: 'Fedya', email: 'fedya@mail.ru', age: '28'}
      ]
    },
    computed: {
      toLower () {
        return this.text.toLowerCase()
      }
    },
    methods: {
      getLowerText () {
        //console.log('проверка метода' + ' ' + this.text)
        //console.log(`проверка метода ${this.text}`)
        this.text = this.text.toLowerCase()
      },
      getContent () {
        this.showContent = !this.showContent
        console.log(this.users)
      }

    }
  });

</script>

<script>
    let testapp = new Vue({
      el: '.testapp',
      data: {
        title: 'Notes App',
          note: {
            title: '',
              descr: '',
          },
        notes: [
          {
            title: 'Заметка №1',
            descr: 'Описание для заметки №1',
            date: new Date(Date.now()).toLocaleString()
          },
          {
            title: 'Заметка №2',
            descr: 'Описание для заметки №2',
            date: new Date(Date.now()).toLocaleString()
          } ,
          {
            title: 'Заметка №3',
            descr: 'Описание для заметки №3',
            date: new Date(Date.now()).toLocaleString()
          }
        ]
      },
      methods: {
          addNote() {
              // console.log(this.note)
              this.notes.push ({
                  title: this.note.title,
                  descr: this.note.descr,
              })
          }
      }
    })
</script>

</body>
</html>